* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000; /* Spotify's dark gray */
  color: white;
  font-family: "Circular", sans-serif;
  /* Add Google Fonts link in HTML */
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-layout {
  display: flex;
  flex: 1; /* Takes up all space except the playbar */
  overflow: hidden; /* Prevents the whole page from scrolling */
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  padding-top: 10px;
  margin: 0px;
}
.logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.nav-item {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.home {
  background-color: #2a2a2a;
  border: 2px solid #2a2a2a;
  border-radius: 50%;
  padding: 0;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
  cursor: pointer;
}
.home:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.nav-item {
  gap: 5px;
}
.searchicon {
  width: 100%;
  height: 48px;
  max-width: 420px;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  gap: 10px;
  background-color: #2a2a2a;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  cursor: pointer;
}
.searchicon:hover {
  border: 1px solid rgb(122, 122, 122);
}
.searchicon:focus-within {
  border: 2px solid rgb(255, 255, 255);
}
.mag {
  transition: transform 0.2s ease;
}
.searchicon:hover .mag {
  transform: scale(1.15);
  fill: white;
}
.install {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.searchbar {
  background-color: transparent;
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  color: white;
}

.lin-btn {
  background-color: transparent;
  border: none;
  color: rgb(179, 179, 179);
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin: 3px;
}
.lin-btn:hover {
  transform: scale(1.15); /*Scalesthebuttonupto105%size*/
  color: white;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
}
.lin-btn:active {
  transform: scale(0.95); /* Shrinks slightly when clicked for a 'press' feel */
}
.vertical-line {
  height: 25px;
  width: 1px;
  background-color: white; /* Subtle divider color */
  margin: 0 10px;
}
.lin {
  gap: 2px;
}
.log-in {
  background-color: white;
  border: 2px solid white;
  color: black;
  border-radius: 100px;
  padding: 15px 20px;
}
.log-in:hover {
  color: black;
  border: 2px solid white;
  transform: scale(1.05);
  background-color: #f6f6f6;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.searchbar-container {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 10px;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  height: 90vh;
  width: 100%;
}
.left {
  width: 20%;
  height: 100%;
  background-color: #121212;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.right {
  width: 80%;
  min-height: 100%;
  height: auto;
  padding: 10px 30px;
  background-color: #121212;
  border-radius: 10px;
  overflow-y: auto;
}

.libary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.libary button {
  background-color: #2a2a2a;
  color: white;
  border: 2px solid #2a2a2a;
  border-radius: 100px;
  padding: 7px 15px;
  transition: transform 0.2s ease;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -ms-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
}
.libary button:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.card {
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  gap: 10px;
}
.cbtn {
  background-color: white;
  color: black;
  border: 2px solid white;
  border-radius: 100px;
  padding: 7px 15px;
  max-width: 150px;
  font-weight: bold;
}
h4 {
  margin: 0;
}
p {
  font-size: smaller;
}
.left-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 300px;
  padding: 10px;
  gap: 20px;
}
.left-links a {
  color: rgb(179, 179, 179);
  text-decoration: none;
  font-size: small;
}
.left-footer {
  margin-top: auto;
  padding: 20px;
}
.language {
  background-color: transparent;
  border: 1px solid rgb(122, 122, 122);
  color: rgb(179, 179, 179);
  border-radius: 100px;
  padding: 7px 15px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: transform 0.2s ease;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -ms-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
}
.language:hover {
  transform: scale(1.05);
  border: 1px solid white;
  color: white;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.right h1 {
  margin-bottom: 20px;
  margin-top: 20px;
}
.song-card {
  position: relative;
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border-color: transparent;
  color: white;
}
.song-card h2 {
  max-width: 150px; /* match your card width */
  white-space: normal;
  overflow-wrap: break-word;
  text-align: center;
}

.song-img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.playlist {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px;
  margin-bottom: 20px;
}
.song-card svg {
  position: absolute;
  right: 17px;
  bottom: 42%;
  opacity: 0;
  fill: rgb(7, 7, 7);
  transition: opacity 0.2s ease;
  width: 45px;
  padding: 5px;
  height: fit-content;
  background-color: #1db954;
  border: #1db954 solid 2px;
  border-radius: 500px;
  transition: background-color 0.4s ease;
  transform: translateY(10px);
  transition:
    opacity 0.4s ease,
    transform 0.3s ease;
  -webkit-transition:
    opacity 0.4s ease,
    transform 0.3s ease;
  -moz-transition:
    opacity 0.4s ease,
    transform 0.3s ease;
  -ms-transition:
    opacity 0.4s ease,
    transform 0.3s ease;
  -o-transition:
    opacity 0.4s ease,
    transform 0.3s ease;
}
.song-card:hover svg {
  opacity: 1;
  transform: translateY(0);
}

.song-card:hover {
  /* This creates the 'Transparent top, solid bottom' effect */
  background: linear-gradient(
    to bottom,
    rgba(18, 18, 18, 0) 0%,
    /* Fully transparent at the very top */ rgba(30, 30, 30, 0.6) 40%,
    /* Starts getting darker near the middle */ rgba(40, 40, 40, 1) 100%
      /* Solid dark gray at the bottom */
  );
}
.hamburger {
  display: none;
}
.controls {
  position: fixed;
  bottom: 40px;
  right: 13px;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 100px;
  padding: 10px;
  margin: 10px;
  width: 77.5%;
  display: none;
}
.media {
  background-color: transparent;
  border: none;
  color: white;
}
.media svg {
  width: 35px;
  height: 35px;
}
.player-img img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}
.player-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.playbar-btn {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1786px) {
  .left {
    position: absolute;
    left: -100%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
  .container {
    padding: 0;
    margin: 0;
    gap: 0;
    justify-content: flex-start;
    width: 100vw;
    padding: 10px;
  }
  .right {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  .song-card {
    width: 150px; /* Smaller width for mobile */
    height: 220px; /* Adjusted height */
    padding: 10px; /* Less internal spacing */
  }

  .song-card img {
    width: 100%; /* Let the image fill the new card width */
    height: auto;
  }
  .controls {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #1f1f1f;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    display: none;
  }
  .media svg {
    width: 20px;
    height: 20px;
  }

  .searchicon {
    padding: 11px;
    margin: 0;
    width: fit-content;
    height: fit-content;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 532px) {
  .song-card svg {
    opacity: 0;
    bottom: 30%;
    right: 30px;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .playlist {
    justify-content: center;
  }
  .searchbar-container {
    width: 200px;
  }
  .song-card {
    width: 90%; /* Smaller width for mobile */
    height: 90%; /* Adjusted height */
    padding: 10px; /* Less internal spacing */
  }
  .song-card img {
    width: 90%;
  }
  .links {
    display: none;
  }
}
@media (max-width: 1230px) {
  .navbar {
    position: relative;
  }
  .lin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  .lin-btn {
    border: 2px solid snow;
    padding: 10px;
    width: 100%;
  }
  .vertical-line {
    display: none;
  }
  .links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    width: fit-content;
    padding: 10px;
    flex-direction: column;
    background-color: #121212;
    position: fixed;
    right: -100%;
    top: 68px;
    z-index: 10000;
    height: 100%;
    border: 2px solid #f6f6f6;
  }
  .links.active{
    right: 0;
  }  
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  }
  .home {
    display: none;
  }
}
